# files to ignore
*.svg
*.mat
output*.xml
*.o
.DS_Store
/project
/ode_energy
/pkpd_sample
/pkpd_project
README_branch.md
CITATION.txt
/ALL_CITATIONS.txt
/main*.cpp
/Makefile
/Makefile-backup
/README_PhysiCell.md
changes.md
Makefile-backup
VERSION.txt

# PhysiCell folders to ignore
addons/PhysiBoSS
addons/dFBA
addons/libRoadrunner
beta/
BioFVM/*
/config/
core/*
/custom_modules/
documentation/
examples/
licenses/
matlab/
modules/*
output/*
povray/
protocols/
sample_projects/
sample_projects_intracellular/
tests/
unit_tests/

# Miscellaneous folders
MeetingMinutes/*
.vscode/*

